.input{
    margin-bottom: 1rem;
    height: 40px;
    border: 0;
    border-radius: 0.5rem;
    background-color: transparent;
    color: var(--white);
    padding: 1rem;
    border: 1px solid var(--yellow-900);
}

.input::placeholder{
    color: rgba(255,255,255, 0.8);
}